//default values
@import 'nib'
@import 'mixin/alert'
@import 'mixin/buttons'
body
	clearfix()

.button-test
	button-variant(#fff,#ccc,#aaa)

.button-huge
	button-size(10px,10px,12px,24px,3px)

.alert
	alert-variant(red,red,red)

